.container{
  background-color: #FFC9E0;
}

[class*='col-']{
  height: calc(100vh / 18);
}

.black{
  background-color: #000000;
}

.blue{
  background-color: #428CF5;
}

.cyan{
  background-color: #82B6FF;
}

.yellow{
  background-color: #FEC14E;
}

.white{
  background-color: #ffffff;
}
